<md-card>
   <md-card-title>
      <md-card-title-text>
         <span class="md-headline">{{apartment.address.address1}} {{apartment.address.apartmentNumber}} {{apartment.address.city}} {{apartment.address.state}} {{apartment.address.zipCode}}</span>
         <br/>
         <label for="beds">Number of Bedrooms</label>
         <div class="md-subhead" id="beds" ng-model="apartment">{{apartment.beds}}</div>
         <label for="baths">Number of bathrooms</label>
         <div class="md-subhead" id="baths" ng-model="apartment">{{apartment.bathrooms}}</div>
         <label for="complex">Name of Complex</label>
         <div class="md-subhead" id="complex" ng-model="apartment">{{apartment.complexName}}</div>
         <label for="people">Roomates</label>
         <div id="people" class="md-subhead" ng-repeat="person in apartment.persons" data-ng-model="apartment">{{person.firstName}} {{person.lastName}}</div>
      </span>
      </md-card-title-text>
      <md-card-title-media>
         <div class="md-media-lg card-media">
            <img src="http://westerlyworldgateapts.com/assets/images/cache/exterior-4-434f5c656014ca5dd62d77eb78568e9c.jpg">
         </div>
      </md-card-title-media>
   </md-card-title>
   <div id="chart"></div>
   <md-card-actions layout="row" layout-align="end center">
      <md-button data-ng-href="#!/supplies/{{apartment.apartmentId}}" data-ng-model="supplyReq">Supplies <span class="badge">{{supplyReq}}</span></md-button>
      <md-button data-ng-href="#!/maintenance/{{apartment.apartmentId}}" data-ng-model="maintenanceReq">Maintenance <span class="badge">{{maintenanceReq}}</span></md-button>
      <md-button data-ng-href="#!/complaints/{{apartment.apartmentId}}" data-ng-model="complaintReq">Complaints <span class="badge">{{complaintReq}}</span></md-button>
      <md-button data-ng-href="#!/move/{{apartment.apartmentId}}" data-ng-model="moveReq">Move Request <span class="badge">{{moveReq}}</span></md-button>
   </md-card-actions>
</md-card>