<section>
   <div>
      <h2>Supply Requests</h2>
   </div>
   <div>
      <table class="table table-striped table-bordered">
         <thead class="thead">
            <tr>
               <th class="">Request Description</th>
               <th>Initiator</th>
               <th>Date Submitted</th>
               <th>Status</th>
               <th>Items Requested</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="request in reqList">
               <td>{{request.description}}</td>
               <td>{{request.initiator}}</td>
               <td>{{request.datesubmitted}}</td>
               <td>{{request.status}}</td>
               <td>
                  <md-list-item ng-repeat="item in request.requestitems">
                     <p> {{ item }} </p>
                  </md-list-item>
               </td>
            </tr>
         </tbody>
      </table>
      <div>
         <md-button class="md-raised md-primary" type="button" ng-click="openModal()">New Supply Request</md-button>
      </div>
   </div>

   <div id="AddRequestModal" class="modal">
      <section class="modal-content">
         <header class="modal-header">
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2>Add New Supply Request</h2>
         </header>
         <main class="modal-body">
            <form>
               <label for="name">Description</label>
               <input type="text" id="description" ng-model="d">
               <label for="soap">Soap?</label>
               <input type="checkbox" id="soap" ng-model="s">
               <label for="tp">ToiletPaper?</label>
               <input type="checkbox" id="tp" ng-model="tp">
               <label for="ptowel">PaperTowels?</label>
               <input type="checkbox" id="ptowel" ng-model="pt">
               <label for="dsoap">DishSoap?</label>
               <input type="checkbox" id="dsoap" ng-model="ds">
               <label for="trash">TrashBags?</label>
               <input type="checkbox" id="trash" ng-model="tb">
               <label for="dish">DishwasherDetergent?</label>
               <input type="checkbox" id="dish" ng-model="dd">
               <label for="sponge">Sponges?</label>
               <input type="checkbox" id="sponge" ng-value="sponge">
            </form>
         </main>
         <footer class="modal-footer">
            <md-button class="md-raised md-primary" type="button" ng-click="addRequest(d,s,tp,pt,ds,tb,dd,sp)">Submit</md-button>
         </footer>
      </section>

   </div>
</section>