<section> 
  <div>
      <h2>Maintenance Requests</h2>
   </div>
   <div>
      <table class="table table-striped table-bordered">
         <thead class="thead">
            <tr>
               <th class="">Request Name</th>
               <th>Electrical?</th>
               <th>Internet?</th>
               <th>Plumbing?</th>
               <th>Water?</th>
               <th>Appliance?</th>
               <th>A/C?</th>
               <th>Structure?</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="request in reqList">
               <td>{{request.name}}</td>
               <td><input type="checkbox" ng-model="request.electrical"></input></td>
               <td><input type="checkbox" ng-model="request.internet"></input></td>
               <td><input type="checkbox" ng-model="request.plumbing"></input></td>
               <td><input type="checkbox" ng-model="request.water"></input></td>
               <td><input type="checkbox" ng-model="request.appliance"></input></td>
               <td><input type="checkbox" ng-model="request.ac"></input></td>
               <td><input type="checkbox" ng-model="request.structure"></input></td>
            </tr>
         </tbody>  
      </table>
      <div>
         <md-button class="md-raised md-primary" type="button" ng-click="openModal()">New Maintenance Request</md-button>
      </div>
   </div>

   <div id="AddRequestModal" class="modal">
      <section class="modal-content">
         <header class="modal-header">
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2>Add New Maintenance Request</h2>
         </header>
         <main class="modal-body">
            <form>
               <label for="name">Name</label>
               <input type="text" id="name" ng-model="n">
               <label for="electrical">Electrical?</label>
               <input type="checkbox" id="electrical" ng-model="e">
               <label for="internet">Internet?</label>
               <input type="checkbox" id="internet" ng-model="i">
               <label for="plumbing">Plumbing?</label>
               <input type="checkbox" id="plumbing" ng-model="p">
               <label for="water">Water?</label>
               <input type="checkbox" id="water" ng-model="w">
               <label for="appliance">Appliance?</label>
               <input type="checkbox" id="appliance" ng-model="a">
               <label for="ac">A/C?</label>
               <input type="checkbox" id="ac" ng-model="ac">
               <label for="structure">Structure?</label>
               <input type="checkbox" id="structure" ng-model="s">
            </form>
         </main>
         <footer class="modal-footer">
            <md-button class="md-raised md-primary" type="button" ng-click="addRequest(n,e,i,p,w,a,ac,s)">Submit</md-button>
         </footer>
      </section>

   </div>
</section>