<section>
   <div>
      <h2>Supply Requests</h2>
   </div>
   <div>
      <table class="table table-striped table-bordered">
         <thead class="thead">
            <tr>
               <th>Request Description</th>
               <th>Initiator</th>
               <th>Date Submitted</th>
               <th>Status</th>
               <th>Items Requested</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="request in reqList">
               <td>{{request.description}}</td>
               <td>{{request.initiator.emailAddress}}</td>
               <td>{{request.dateSubmitted}}</td>
               <td>{{request.status}}</td>
               <td>
                  <md-list-item ng-repeat="item in request.requestItems">
                     <p> {{ item }} </p>
                  </md-list-item>
               </td>
            </tr>
         </tbody>
      </table>
      <div>
         <md-button class="md-primary md-raised" type="button" ng-click="openModal($event)">New Supply Request</md-button>
      </div>

   </div>

   <div style="visibility: hidden">
      <div class="md-dialog-container" id="AddRequestModal">
         <md-dialog layout-padding>
            <md-toolbar>
               <div class="md-toolbar-tools">
                  <h2>New Supply Request</h2>
                  <span class="flex"></span>
                  <md-button ng-click="cancel()">Close</md-button>
               </div>
            </md-toolbar>
            <md-dialog-content layout-padding>
               <div class="md-dialog-content">
                  <form name="supplyRequest" ng-cloak>
                     <md-input-container class="md-block">
                        <label for="name">Description</label>
                        <input type="text" ng-model="description" >
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="soap" name="soap" ng-model="soap">
                           Hand Soap
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="tp" name="toilet paper" ng-model="toiletPaper">
                           Toilet Paper
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="ptowel" name="paper towel" ng-model="paperTowels" s>
                           Paper Towels
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="dsoap" name="dish soap" ng-model="dishSoap">
                           Dish Soap
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="trash" name="trash bag" ng-model="trashBag">
                           Trash Bags
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="dish" name="dishwasher soap" ng-model="dishwasherSoap">
                           Dishwasher Detergent
                        </md-checkbox>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <md-checkbox id="sponge" name="sponge" ng-model="sponge">
                           Sponges
                        </md-checkbox>
                     </md-input-container>
                  </form>
               </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
               <md-button class="md-raised md-primary" type="button" ng-click="addRequest(supplyRequest)">Submit</md-button>
            </md-dialog-actions>

         </md-dialog>
      </div>
   </div>

</section>