<section>
  <div>
    <h2>Supply Requests</h2>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead">
        <tr>
          <th>Request Description</th>
          <th>Initiator</th>
          <th>Date Submitted</th>
          <th>Status</th>
          <th>Items Requested</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in reqList">
          <td>{{request.description}}</td>
          <td>{{request.initiator.emailAddress}}</td>
          <td>{{request.dateSubmitted}}</td>
          <td>{{request.status}}</td>
          <td>
            <md-list-item ng-repeat="item in request.requestItems">
              <p> {{ item }} </p>
            </md-list-item>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <md-button class="md-primary md-raised" type="button" ng-click="openModal($event)">New Supply Request</md-button>
      <span class="flex"></span>
      <md-button class="md-raised md-warn" data-ng-href="/apartment/">Back</md-button>
    </div>

  </div>
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="AddRequestModal">
      <md-dialog layout-padding>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>New Supply Request</h2>
            <span class="flex"></span>
            <md-button ng-click="cancel()">Close</md-button>
          </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
          <div class="md-dialog-content">
            <form name="supplyRequest" ng-submit="addRequest(supplyRequest) && supplyRequest.$valid" ng-cloak>
              <md-input-container class="md-block">
                <label for="name">Description</label>
                <input name="description" type="text" ng-model="description" required>
                <div ng-messages="supplyRequest.description.$error">
                  <div ng-message="required">This is Required</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" name="checkboxes" id="checkboxes" ng-model="checkboxes">
                <md-checkbox id="soap" name="Soap" ng-model="supply[0]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Hand Soap
                </md-checkbox>
                <md-checkbox id="tp" name="Toilet Paper" ng-model="supply[1]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Toilet Paper
                </md-checkbox>
                <md-checkbox id="ptowel" name="Paper Towels" ng-model="supply[2]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Paper Towels
                </md-checkbox>
                <md-checkbox id="dsoap" name="Dish Soap" ng-model="supply[3]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Dish Soap
                </md-checkbox>
                <md-checkbox id="trash" name="Trash Bags" ng-model="supply[4]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Trash Bags
                </md-checkbox>
                <md-checkbox id="dish" name="Dishwasher Detergent" ng-model="supply[5]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Dishwasher Detergent
                </md-checkbox>
                <md-checkbox id="sponge" name="Sponges" ng-model="supply[6]" ng-required="!(supply[0] || supply[1] || supply[2] || supply[3] || supply[4] || supply[5] || supply[6])">
                  Sponges
                </md-checkbox>
                <div class="help-block" ng-show="supplyRequest.$invalid">
                  <div>One of these fields is required to be checked</div>
                </div>
              </md-input-container>
              <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-disabled="supplyRequest.$invalid" type="submit">Submit</md-button>
              </md-dialog-actions>
            </form>
          </div>
        </md-dialog-content>


      </md-dialog>
    </div>
  </div>

</section>