<section>
  <form action="">
    <md-button class="md-raised md-primary" type="button" data-ng-click="processRequest(0)">Get the Address</md-button>
  </form>

  <article>
    <header>
      <h3>Address</h3>
    </header>

    <section>
      <p>{{myAddress}}</p>
      <p>Address1: {{myAddress.Address1}}</p>
      <p>Address2: {{myAddress.Address2}}</p>
      <p>City: {{myAddress.City}}</p>
      <p>State: {{myAddress.State}}</p>
      <p>Zip: {{myAddress.Zip}}</p>
    </section>
  </article>
</section>