 <section id="mainHome" ng-init="init()">

  <h1>Welcome, {{myPerson.FirstName}} {{myPerson.LastName}}</h1>

  <article>
    <header>
      <h3>My Apartment</h3>
    </header>

    <section>
      <!-- <p>{{apartment[0].complexName}}</p>
      <p>Address1: {{apartment[0].address.address1}}</p>
      <p>Address2: {{apartment[0].address.address2}}</p>
      <p>City: {{apartment[0].address.city}}</p>
      <p>State: {{apartment[0].address.state}}</p>
      <p>Zip: {{apartment[0].address.zipCode}}</p> -->

      <p>{{myAddress.ApartmentNumber}}</p>
      <p>Address1: {{myAddress.Address1}}</p>
      <p>Address2: {{myAddress.Address2}}</p>
      <p>City: {{myAddress.City}}</p>
      <p>State: {{myAddress.State}}</p>
      <p>Zip: {{myAddress.ZipCode}}</p>
    </section>
  </article>
</section> 
