<section>
  <div>
    <h2>Complaints</h2>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead">
        <tr>
          <th>Initiator</th>
          <th>Accused</th>
          <th>Complaint Description</th>
          <th>Date Submitted</th>
          <th>Status</th>
          <th>Urgent</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in reqList">
          <td>{{request.initiator.emailAddress}}</td>
          <td>{{request.accused.emailAddress}}</td>
          <td>{{request.description}}</td>
          <td>{{request.dateSubmitted}}</td>
          <td>{{request.status}}</td>
          <td>{{request.urgent}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <md-button class="md-raised md-primary" type="button" ng-click="openModal($event)">New Complaint</md-button>
    </div>
  </div>

    <div style="visibility: hidden">
    <div class="md-dialog-container" id="AddRequestModal">
      <md-dialog layout-padding>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>New Complaint</h2>
            <span class="flex"></span>
            <md-button ng-click="cancel()">Close</md-button>
          </div>
        </md-toolbar>
        <form name="complaintRequest" ng-cloak>
          <md-dialog-content layout-padding>
            <div class="md-dialog-content">
              <md-input-container class="md-block">
                <label for="accused">Select Person</label>
                <md-select name="accused" ng-model="accused">
                  <md-option ng-repeat="person in apartment.persons" value="{{person}}">{{person.firstName}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="description">Complaint</label>
                <textarea name="description" ng-model="description"></textarea>
              </md-input-container>
            </div>
          </md-dialog-content>
          <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="button" ng-click="addMaintenanceRequest(maintenanceRequest)">Submit</md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
    </div>
  </div>

</section>