<section>
   <div >
      <label>Apartment Image</label>
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" style="width:135px;height:400px;">   
   </div>
   <div>

      <div>
         <label for="beds">Number of Bedrooms</label>
         <div id="beds" ng-model="apartment">{apartment.beds}</textbox>
         <label for="baths">Number of bathrooms</label>
         <div id="baths" ng-model="apartment">{apartment.bathrooms}</textbox>
         <label for="complex">Name of Complex</label>
         <div id="complex" ng-model="apartment">{apartment.complexname}</textbox>
      </div>
      <div>
         <label for="address">Address</label>
         <div id="address" ng-model="apartment">{apartment.address}> </div>
      </div>
      <div>
         <ul>
            <li ng-repeat="person in apartment.people" data-ng-model="apartment">{person.firstname} + " " + {person.lastname}</li>
         </ul>
      </div>
   </div>
</section>