<section>
  <form action="">
    <!-- <label for="entity">entity</label>
    <select name="" id="entity" data-ng-model="entity">
      <options value="{{option.value}}" data-ng-repeat="option in entities">{{option.text}}</options>
    </select>

    <label for="number">number</label>
    <input type="number" id="number" data-ng-model="number"> -->

    <md-button class="md-raised md-primary" type="button" data-ng-click="processRequest(number)">Get the Address</md-button>
  </form>

  <article>
    <header>
      <h3>Address</h3>
    </header>

    <section>
      <p>Address1: {{myAddress.Address1}}</p>
      <p>Address2: {{myAddress.Address2}}</p>
      <p>City: {{myAddress.City}}</p>
      <p>State: {{myAddress.State}}</p>
      <p>Zip: {{myAddress.Zip}}</p>
    </section>
  </article>
</section>