<section id="mainHome" ng-init="init()">

  <h1>Welcome, {{myPerson.firstName}} {{myPerson.lastName}}</h1>

  <section>
    <header>
      <h3>My Apartment</h3>
    </header>
    <md-card class="col-md-4" style="background-color: whitesmoke">
      <md-card-title>
        <md-card-title-text data-ng-hide="!userInfo.isAuthenticated">
          <p><b>Address1: </b>{{myPerson.address.address1}}</p>
          <p><b>Address2: </b>{{myPerson.address.address2}}</p>
          <p><b>City: </b>{{myPerson.address.city}}</p>
          <p><b>State: </b>{{myPerson.address.state}}</p>
          <p><b>Zip: </b>{{myPerson.address.zipCode}}</p>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button data-ng-hide="userInfo.isAuthenticated" class="md-raised md-primary" ng-click="signIn()">Sign In</md-button>
        <md-button data-ng-hide="!userInfo.isAuthenticated" class="md-raised md-warn" ng-click="signOut()">Sign Out</md-button>
      </md-card-actions>
    </md-card>
  </section>
</section>